[package]
name = "ark-goldilocks"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
ark-ff = { version = "0.5.0", default-features = false  }
