name: Build

on:
  push:
  pull_request:

jobs:
  linux:
    name: Linux
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - run: rustup target add wasm32-unknown-unknown
      - run: rustup component add clippy rustfmt
      # Enforce lockfile correctness.
      - run: cargo check --locked
      # Test all crates, except those that force-target WASM.
      # Skip the tests that make proofs, since we'll run those on the release profile
      - run: cargo test --workspace -- --skip circuit_test --skip test_runtime
      # The tests that do Nightstream proofs are quite slow without --release
      - run: cargo test -p starstream-interleaving-proof --release circuit_test
      - run: cargo test -p starstream-runtime --release test_runtime
      # Cosmetic checks.
      - run: cargo clippy
      - run: cargo fmt --check
      # Mock ledger
      - name: Mock Ledger - Check formatting
        run: cargo fmt --check
        working-directory: mock-ledger/backend

  website:
    name: Website
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - run: rustup target add wasm32-unknown-unknown
      - name: Install binaryen
        run: |
          curl -o binaryen.tar.gz --no-progress-meter -L https://github.com/WebAssembly/binaryen/releases/download/version_124/binaryen-version_124-x86_64-linux.tar.gz
          echo "0290c3779fedf592b8da0ded3032ff55c41a2b7bfa2d6bf7b7bac6f0e6e28963  binaryen.tar.gz" | sha256sum -c
          sudo tar -xf binaryen.tar.gz -C /usr/local --strip-components=1
      - name: Install wasm-bindgen
        run: |
          curl -o wasm-bindgen.tar.gz --no-progress-meter -L https://github.com/wasm-bindgen/wasm-bindgen/releases/download/0.2.105/wasm-bindgen-0.2.105-x86_64-unknown-linux-musl.tar.gz
          echo "b391448c4926ac4b11425a6752484d85164e72489d97804461d5e868c643b88a  wasm-bindgen.tar.gz" | sha256sum -c
          sudo tar -xf wasm-bindgen.tar.gz -C /usr/local/bin --strip-components=1
      - run: cd website && npm ci && npm run build
      - name: Require that `tree-sitter generate` output was committed
        run: git diff --exit-code tree-sitter-starstream/src/ && echo "OK"
      - run: cd tree-sitter-starstream && npm ci && npx tree-sitter test
      - env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
        if: github.event_name == 'push' && github.ref_name == 'main' && env.CLOUDFLARE_API_TOKEN
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy website/build --project-name=${{ secrets.CLOUDFLARE_PROJECT_NAME }}
